.gitkeep
.bundle
.console_history
db/*.sqlite3
log/*
.console_history
tmp/**/*
tmp/*
log/newrelic_agent_store.db
public/system
public/system.*
.DS_Store
coverage/*
tmp/pagseguro*
shared/*
public/ckeditor_assets/*
*.sw*
*.un*
public/javascripts/all.js
doc/*
chromedriver.log
themes/history/*
themes/draft/*
themes/published/*
public/images/locals/*
public/images/upload/
public/images/upload/*
public/stylesheets/draft/*
public/stylesheets/published/*
public/stylesheets/history/*
public/javascripts/draft/*
public/javascripts/published/*
public/javascripts/history/*
public/jacotei/*
public/buscape/*
public/bondfaro/*
public/google_shopping/*
sitemap*
.yardoc
public/images/locals/*
rspec-core/*
config/*.sphinx.conf
db/sphinx
